<p><%= t(".hello", name: @user.name) %></p>

<p>
  <%= t(".question_title", { question_title: @question.title, participatory_space_slug: @participatory_space.slug }) %>
</p>

<p>
  <%= t(".question_note_body", { question_note_body: @question_note.body }) %>
</p>

<p>
  <%= link_to t(".question_note_link"), question_note_anchor %>
</p>
