<div class="card-divider">
  <h2 class="card-title">
    <%= link_to "#{t ".questions"}", questions_path %>
    &gt;
    <% if question %>
      <%= link_to question.short_ref + ' • ' + present(question).title, question.path %>
    <% else %>
      <%= t(".new_question") %>
    <% end %>
  </h2>
</div>
