<%= link_to "#list-of-endorsements", id: "question-#{question.id}-endorsements-count", class: "button small compact light button--sc button--shadow #{fully_endorsed ? 'success' : 'secondary'}" do %>
  <%= icon "bullhorn", class: "icon--small", aria_label: "Endorsements", role: "img" %>
      <%= question.question_endorsements_count %>
</button>
<% end %>
