
$current-border-radius: 4px;
$foundation-palette: (
  primary: #039be5,
  secondary: #eee,
  success: #5dc560,
  warning: #ffb300,
  alert: #e66a5d,
);

.container {
  max-width: none;
}

.table-list {
  th {
    white-space: nowrap;
  }
}

.card-section .callout {

  border-radius: $current-border-radius;
  border-color: #eee;
  margin-top: 5px;

  .callout-header {
    position: absolute;
    top: -18px;
    left: 5px;
    background: inherit;
    display: block;
    padding: 2px 8px;
  }
  .callout-content.inline {
    input[type="radio"] {
      margin-bottom: .5rem
    }
  }
}

.card-section .card-tabs {
  text-transform: uppercase;
  font-weight: bold;
  li > *.active {
    border-bottom: 2px solid map-get($foundation-palette, primary);
  }
}

.form {
  .no-field-label {
    padding-left: 15px;
  }
}

.ql-toolbar.ql-snow {
  border-top-left-radius: $current-border-radius;
  border-top-right-radius: $current-border-radius;
}
.ql-container.ql-snow {
  border-bottom-left-radius: $current-border-radius;
  border-bottom-right-radius: $current-border-radius;
}
