<div class="card">
  <%= render partial: "decidim/questions/admin/shared/info_question/info_question_top", locals: { question: @question } %>
  <%= render partial: "decidim/questions/admin/shared/info_question/info_question_bottom_full", locals: { question: @question } %>
</div>
