<div class="card">
  <%= render partial: "decidim/questions/admin/shared/info_question/info_question_top" %>
  <%= render partial: "decidim/questions/admin/shared/info_question/info_question_bottom" %>
</div>
